body {
    font-family: 'helvetica', sans-serif;
    margin: 0px 15px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #F9DEC9;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #3A405A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #b3b9d4;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.aws-btn {

--button-default-height: 48px;
--button-default-font-size: 14px;
--button-default-border-radius: 10px;
--button-horizontal-padding: 20px;
--button-raise-level: 5px;
--button-hover-pressure: 2;
--transform-speed: 0.185s;
--button-primary-color: #475472;
--button-primary-color-dark: #2a3143;
--button-primary-color-light: #d4d9e4;
--button-primary-color-hover: #424e6a;
--button-primary-border: none;
--button-secondary-color: #fffc6c;
--button-secondary-color-dark: #b9b500;
--button-secondary-color-light: #6c6a00;
--button-secondary-color-hover: #fffb3e;
--button-secondary-border: none;
--button-anchor-color: #f3c8ad;
--button-anchor-color-dark: #734922;
--button-anchor-color-light: #4c3016;
--button-anchor-color-hover: #f1bfa0;
--button-anchor-border: 1px solid #8c633c;
}